.btn{
background-color: green;
    color: white;
    width: 200px;
    height: 70px;
    border: aqua 2px solid;
    border-radius: 10px;
    font-size: 25px;
    }
#btn457 {
    background-color:darkslateblue;
    border: black solid
}
#btn458 {
    background-color:sandybrown;
}